[submodule "TrinityCore"]
	path = TrinityCore
	url = https://github.com/tswow/TrinityCore.git
	branch = tswow
[submodule "tools/adt-creator"]
	path = tools/adt-creator
	url = https://github.com/tswow/adt-creator.git
[submodule "cores/azerothcore-wotlk"]
	path = cores/azerothcore-wotlk
	url = https://github.com/tswow/azerothcore-wotlk.git
	branch = tswow
