# Add directories, files, and symbolic links which should not be stored within
# the repository here.

# Helper files requiring special attention
!.gitignore
!.gitattributes

# Project files
/.cache/
/.idea/
/.vscode/

# OS specific temporary files
.DS_Store
Thumbs.db

# NodeJS
/node_modules/
/package-lock.json

# Configuration files
/build.conf

# Logs
/log.txt
