{
  "module": {
  	"type":"commonjs"
  },
  "exclude":[".*.js$","TypeScript2Cxx"],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": false
    },
    "transform":null,
    "target":"es2016",
    "loose":false
  },
  "sourceMaps": true
}
