name: CI
on:
  push:
    branches: [ "master" ]
  workflow_dispatch:
jobs:
  ubuntu-clang-trinitycore:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/setup_ubuntu
      - name: Build tswow
        shell: bash
        run: npm run build noac

  windows-msvc-trinitycore:
    runs-on: windows-2019
    steps:
      # Build
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/setup_windows
      - name: Build tswow
        run: npm run build-release clean-archives noac
      - uses: ./.github/actions/publish_windows
        with:
          core: 'trinitycore'
          token: ${{secrets.GITHUB_TOKEN}}
          upload-url: ${{ secrets.TSWOW_UPLOAD_URL }}

  windows-msvc-azerothcore:
    runs-on: windows-2019
    steps:
      # Build
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/setup_windows
      - name: Build tswow
        run: npm run build-release clean-archives notc
      - uses: ./.github/actions/publish_windows
        with:
          core: 'azerothcore'
          token: ${{secrets.GITHUB_TOKEN}}
          upload-url: ${{ secrets.TSWOW_UPLOAD_URL }}