name: CI
on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  ubuntu-clang-trinitycore:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/setup_ubuntu
      - name: Build tswow
        shell: bash
        run: npm run build noac

  windows-msvc-trinitycore:
    runs-on: windows-2022
    steps:
      # Build
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/setup_windows
      - name: Build tswow
        run: npm run build-release clean-archives noac tracy=*
      - name: Publish release
        if: github.ref == 'refs/heads/master'
        run: node .github/scripts/upload-release.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  #windows-msvc-azerothcore:
  #  runs-on: windows-2019
  #  steps:
  #    # Build
  #    - uses: actions/checkout@v2
  #      with:
  #        submodules: 'recursive'
  #    - uses: ./.github/actions/setup_windows
  #    - name: Build tswow
  #      run: npm run build-release clean-archives notc
  #    - uses: ./.github/actions/publish_windows
  #      env:
  #        TSWOW_UPLOAD_URL: ${{ secrets.TSWOW_UPLOAD_URL }}
  #        EVENT_NAME: ${{github.event_name}}
  #      if: "${{ env.TSWOW_UPLOAD_URL != '' && env.EVENT_NAME != 'pull_request'}}"
  #      with:
  #        core: 'azerothcore'
  #        token: ${{secrets.GITHUB_TOKEN}}
  #        upload-url: ${{ secrets.TSWOW_UPLOAD_URL }}